@model RoomDetails
@{
}
<div class="container" dir="rtl">
    <div class="alert alert-success">تعديل بيانات تفاصيل الغرفة</div>
    
	<form asp-action="UpdateRoomDetails" method="post">
		<input type="hidden" asp-for="@Model.Id" />
		<div class="row">
			<div class="col">
				<label for="HotelsID" class="p-2">رقم الفندق</label>

				<input type="text" id="HotelID" name="HotelID" class="form-control form-control-sm" readonly asp-for="@Model.HotelID" />

			</div>
		</div>
		<div class="row">
			<div class="col">
				<label for="RoomID" class="p-2">اختر الغرفة</label>
				<input type="text" id="RoomID" name="RoomID" class="form-control form-control-sm" readonly asp-for="@Model.RoomID" />

			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<label for="Services" class="p-2"> خدمات الغرفة </label>
				<input type="text" id="Services" name="Services" class="form-control form-control-sm" asp-for="@Model.Services" />

			</div>
			<div class="col-sm-6">
				<label for="Features" class="p-2">  مميزات الغرفة</label>
				<input type="text" id="Features" name="Features" class="form-control form-control-sm" asp-for="@Model.Features" />


			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<label for="Food" class="p-2"> خدمات الوجبات "المطعم" </label>
				<input type="text" id="Food" name="Food" class="form-control form-control-sm" asp-for="@Model.Food" />


			</div>
		</div>
		<div class="row">
			<div class="col">
				<label for="Image1" class="p-2"> الصورة </label>
				<input type="text" id="Image1" name="Image1" class="form-control form-control-sm" asp-for="@Model.Image1 />
			</div>

			<div class="col">
				<label for="Image2" class="p-2"> الصورة </label>
				<input type="text" id="Image2" name="Image2" class="form-control form-control-sm" asp-for="@Model.Image2" />
			</div>

			<div class="col">
				<label for="Image3" class="p-2"> الصورة </label>
				<input type="text" id="Image3" name="Image3" class="form-control form-control-sm" asp-for="@Model.Image3" />
			</div>

		</div>

		<div class="row mt-3">
			<div class="col text-center">

				<button class="btn btn-success" type="submit">حفظ</button>


			</div>

		</div>
	</form>




</div>
